.App {
  text-align: center;
}
.appBody{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}
.categoryName{
  margin-top: 20px;
  text-align: left;
}
footer{
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgrey;
  background: white;
}
.footerNav{
  justify-content: space-evenly;
  padding: 10px 0;
}
.footerElem{
  cursor: pointer;
}
