a{
  color: unset !important;
  text-decoration: none !important;
}
.bold{
  font-weight: bold;
}
.App {
  margin-top: 72px;
}
.appBody{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.categoryCard .card-body{
  text-align: center;
}
.slick-slide {
  padding: 0 5px;
}
.voucherGroup{
  margin-top: 20px;
}
.categoryWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categoryName{
  text-align: left;
}
.categoryViewAll{
  color: cornflowerblue;
}
.place-name-group{
  min-height: 150px;
}
.points{
  color: lightcoral;
}
footer{
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgrey;
  background: white;
  text-align: center;
  z-index: 100;
}
.footerNav{
  justify-content: space-evenly;
  padding: 10px 0;
}
.footerElem{
  cursor: pointer;
  color: #8c8c8c;
}
.footerElem.active{
  color: #000000;
}

.list-dropdown-row{
  gap: 12px;
}
.offcanvas.offcanvas-bottom{
  height: auto !important;
}
.oc-filter .offcanvas-header{
  justify-content: center;
  border-bottom: 1px solid #e4e4e4;
}
.oc-filter .offcanvas-body{
  text-align: center;
}
.oc-filter-item{
  height: 40px;
  cursor: pointer;
}

.img-detail{
  width: 100%;
}