body{
  background-color: #f9f9f9 !important;
}
a{
  color: unset !important;
  text-decoration: none !important;
}
.text-small{
  font-size: 12px;;
}
.bold{
  font-weight: bold;
}
.appBody{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.categoryCard{
  margin-bottom: 10px;
  border: none !important;
  box-shadow: 0px 4px 10px 0px #d2d1d1;
}
.categoryCard .card-body{
  display: flex;
  padding: 6px;
}
.categoryCard .card-left{
  width: 25%;
}
.categoryCard .card-left img{
  width: 100%;
}
.categoryCard .card-right{
  padding-left: 20px;
  width: 75%;
}
.slick-slide {
  padding: 0 5px;
}
.voucherGroup{
  margin-top: 20px;
}
.categoryWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categoryName{
  text-align: left;
}
.categoryViewAll{
  color: cornflowerblue;
}
.place-name-group{
  min-height: 150px;
}
.points{
  color: lightcoral;
}
footer{
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgrey;
  background: white;
  text-align: center;
  z-index: 100;
}
.footerNav{
  justify-content: space-evenly;
  padding: 10px 0;
}
.footerElem{
  cursor: pointer;
  color: #8c8c8c;
}
.footerElem.active{
  color: #000000;
}

.list-dropdown-row{
  gap: 12px;
  display: none !important;
}
.offcanvas.offcanvas-bottom{
  height: auto !important;
}
.oc-filter .offcanvas-header{
  justify-content: center;
  border-bottom: 1px solid #e4e4e4;
}
.oc-filter .offcanvas-body{
  text-align: center;
}
.oc-filter-item{
  height: 40px;
  cursor: pointer;
}

.img-detail{
  width: 100%;
}

h1{
  font-size: 22px;
  font-weight: bold;
}
.myrewards h1{
  font-size: 22px;
  font-weight: bold;
  margin-top: 16px;
}
.back-group{
  display: flex;
  align-items: center;
  color: #C60D14;
  font-weight: bold;
}
.back-group img{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.tab-inner{
  display: block;
  background: #f9f9f9;
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.myr-item{
  display: flex;
  background-color: #ffffff;
  font-size: 13px;
  height: 80px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 6px;
}
.myr-item.inactive, .myr-item.inactive *{
  color: #898989;
}
.myr-item.inactive img{
  filter: sepia(100%) saturate(10%) brightness(100%) hue-rotate(180deg);
}
.myr-item-left{

}
.myr-item-left img{
  height: 100%;
}
.myr-item-right{
  width: inherit;
  padding-left: 10px;
}
.myr-amount{
  font-weight: bold;
  font-size: 15px;
}
.myr-action{
  display: flex;
  justify-content: space-between;
}
.myr-use{
  cursor: pointer;
  color: #C60D14;
}
.body-float-grey{
  background: #f9f9f9;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.body-float-inner{
  background: #ffffff;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.body-float-inner div{
  text-align: center;
}
.body-float-inner div{
  margin-bottom: 16px;
}
.body-float-inner .btn-action-active, .input-code{
  width: 80%;
}
.input-code{
  background-color: #EDF2FB;
  color: #4A4A4A;
  padding: 10px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-action-active{
  background: #C60D14;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 50px;
}
.back-home{
  margin-top: 16px;
}
.page-complete .body-float-inner{
  height: auto;
}

.top-action-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-outline-active{
  border: 1px solid #C60D14;
  border-radius: 5px;
  color: #C60D14;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 6px;
  display: flex;
  justify-content: center;
}
.btn-outline-active img{
  margin-right: 6px;
  width: 16px;
  height: auto;
  object-fit: contain;
}
.qr-code-wrapper{
  height: auto;
  margin: 0px auto;
  max-width: 60%;
  width: 100%;
  margin-bottom: 20px;
}
.qr-warning-text{
  background: #EDF2FB;
  color: #6D6D6D;
  padding: 16px;
}

.detail-points-sect{
  background:#EDF2FB;
  display: flex;
  padding: 10px;
  font-size: 14px;
}
.detail-points-left-col, .detail-points-right-col{
  width: 50%;
}
.how-to-sect{
  background: #ffffff;
  padding: 30px 12px;
}
.redeem-sect{
  background: #ffffff;
  margin-top: -50px;
  padding: 12px;
  text-align: center;
}
.solid-btn{
  width: 100%;
  background: #C60D14 !important;
  border: none !important;
  margin-bottom: 8px;
  font-size: 16px !important;
  font-weight: bold !important;
}
.modal-content{
  align-items: center;
  text-align: center;
}
.modal-footer{
  flex-direction: column;
}